# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/dist
/docs
/release
/front-web-design
/.cursor
/.next
/.claude
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

x86;

#설정 파일
/data
/config

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
CLAUDE.md
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
